.app {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #dadbd3;
}

.app__body {
  display: flex;
  height: 90vh;
  max-width: 100%;
  background: #ededed;
}

a {
  text-decoration: none;
}
